.about {
    background-color: white;
    margin-bottom: 90px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 100px;
}

.about__photo {
    position: relative;
    display: inline-block;
    padding-top: 127px;
}
.about__image {
    position: relative;
    top: -146px;
    left: -150px;
}
.about__image_border {
    border: 15px solid #913bbe;
    position: relative;
    left: -82px;
    top: -53px;
}
.about__image_left {
    position: relative;
    top: -10px;
}
.about__background {
    display: inline-block;
    position: absolute;
    padding-top: 84px;
    padding-left: 215px;
}
.about__background-picture {
    position: relative;
    top: -31px;
}
.about__text {
    width: 470px;
    display: inline-block;
    text-align: left;
    position: absolute;
    right: 90px;
    top: 993px;
}
.about__subtitle {
    padding-bottom: 33px;
    margin: 0;
    color: #913bbe;
    font-size: 24px;
    font-family: 'Open Sans ExtraBold';

}
.caption {
    padding-bottom: 37px;
    margin: 0;
    color: black;
    font-size: 48px;
    font-family: 'Open Sans ExtraBold';

}
.caption__description {
    padding-bottom: 50px;
    margin: 0;
}
.about__buttom {
    padding: 0;
    margin: 0;
    color: black;
    text-decoration: none;
    font-family: 'Open Sans ExtraBold';
}


