.footer__name {
    font-size: 24px;
    font-family: "Poppins";
    padding: 0;
    margin: 0;
}
.footer__text__about {
    max-width: 470px;
}
.footer__list {
    padding: 0;

    display: inline-block;
    list-style-type: none;
    float: right;
    margin-bottom: 66px;
}
.footer__text__description {
    font-family: "Open Sans";
    font-size: 14px;
}
.rights {
    font-size: 14px;
    font-family: "Open Sans";
}
.footer__text-blockqute {
    font-size: 14px;
    font-family: "Poppins ExtraBold";
}
.communications__adress {
    text-decoration: none;
    margin: 0;
    color: white;
    background-color: #913bbe;
    font-family: 'Open Sans ExtraBold';
    padding: 12px;
    font-size: 14px;
}
.footer__list__item {
    display: inline-block;
    font-family: 'Poppins SemiBold';
    font-size: 14px;
    padding-right: 30px;

}
.social {
    list-style-type: none;
}
