@import "header.css";
@import "logo.css";
@import "menu.css";
@import "opensans.css";
@import "poppins.css";
@import "container.css";
@import "intro.css";



body {
    margin: 0;
}
.container {
    width: 1170px;
    margin: 0 auto;
}