.provide {
    text-align: center;
}
.provide__works {
    font-size: 30px;
    font-family: 'Poppins';
}
.provide__description {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #999999;
    width: 370px;
    margin-left: 497px;
}

.service__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.service__item {
    min-height: 480px;
    width: 570px;
    display:inline-block;
    vertical-align:top;
}
.service__list_size_large {
    width: 570px;
    padding-right: 18px;
}
.service__list_size_medium {
    width: 290px;
}
.service__list_size_smal {
    width: 290px;
}
.service__image {
    position: relative;

}
h4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
    font-size: 30px;
    color: white;
    text-transform: uppercase;

}
h5 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
    font-size: 48px;
    color: white;
    text-transform: uppercase;
}
