.works {
    margin-top: 112px;
    margin-bottom: 98px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 93px;
}
.works__title {
    text-align: center;
    margin-bottom: 150px;
}
.works__description {
    margin-left: 131px;
    vertical-align: middle;
    display: inline-block;
}
.works__subtitle {

    margin: 0;
    font-size: 30px;
    font-family: 'Open Sans ExtraBold';
}
.works__text {
    margin-left: 488px;
    width: 370px;
    font-size: 16px;
    font-family: "Open Sans Light";
    color: #999999;
}
.mockup {
    display: inline-block;
    vertical-align: middle;
    padding-left: 73px;
}
.works__picture {


}
.content {
    display: inline-block;
    max-width: 470px;
    vertical-align: middle;
    padding-left: 40px;
    text-align: left;
}
.content__title {
    margin: 0;
    font-size: 36px;
    font-family: 'Poppins ExtraBold';
    padding-bottom: 50px;
}
.content__description {
    margin-top: 27px;
    margin-bottom: 47px;
    font-size: 14px;
    font-family: "Open Sans";
}